name: Build and Release Solana block ingestor

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Tag name for the release"
        required: true
        default: "v2.3.1"
        type: string

jobs:
  build_and_push:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout
      packages: write # This is required for pushing to github registry
    steps:
      - uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/soonlabs/soon-block-ingestor-kafka-hdfs:${{ github.event.inputs.tag_name }} .
          docker push ghcr.io/soonlabs/soon-block-ingestor-kafka-hdfs:${{ github.event.inputs.tag_name }}


